# Node modules
node_modules/

# Environment variables
.env
.env
.env.*
# Backend environment
backend/.env

# Frontend environment
frontend/.env

# Admin environment
admin/.env


# Build folders
dist/
build/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Vite cache
.vite/

# Editor
.vscode/